In [1]:
import pandas as pd

# 1)Explorando los datos

In [2]:
mission_launches = pd.read_csv("mission_launches.csv")
mission_launches

,Unnamed: 0.1,Unnamed: 0,Organisation,Location,Date,Detail,Rocket_Status,Price,Mission_Status
0,0,0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA","Fri Aug 07, 2020 05:12 UTC",Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50.0,Success
1,1,1,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...","Thu Aug 06, 2020 04:01 UTC",Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success
2,2,2,SpaceX,"Pad A, Boca Chica, Texas, USA","Tue Aug 04, 2020 23:57 UTC",Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success
3,3,3,Roscosmos,"Site 200/39, Baikonur Cosmodrome, Kazakhstan","Thu Jul 30, 2020 21:25 UTC",Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65.0,Success
4,4,4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA","Thu Jul 30, 2020 11:50 UTC",Atlas V 541 | Perseverance,StatusActive,145.0,Success
...,...,...,...,...,...,...,...,...,...
4319,4319,4319,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA","Wed Feb 05, 1958 07:33 UTC",Vanguard | Vanguard TV3BU,StatusRetired,NaN,Failure
4320,4320,4320,AMBA,"LC-26A, Cape Canaveral AFS, Florida, USA","Sat Feb 01, 1958 03:48 UTC",Juno I | Explorer 1,StatusRetired,NaN,Success
4321,4321,4321,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA","Fri Dec 06, 1957 16:44 UTC",Vanguard | Vanguard TV3,StatusRetired,NaN,Failure
4322,4322,4322,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan","Sun Nov 03, 1957 02:30 UTC",Sputnik 8K71PS | Sputnik-2,StatusRetired,NaN,Success
4323,4323,4323,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan","Fri Oct 04, 1957 19:28 UTC",Sputnik 8K71PS | Sputnik-1,StatusRetired,NaN,Success

In [3]:
#creo una copia para no modificar el dataset original
df_launches = mission_launches.copy()
df_launches

,Unnamed: 0.1,Unnamed: 0,Organisation,Location,Date,Detail,Rocket_Status,Price,Mission_Status
0,0,0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA","Fri Aug 07, 2020 05:12 UTC",Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50.0,Success
1,1,1,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...","Thu Aug 06, 2020 04:01 UTC",Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success
2,2,2,SpaceX,"Pad A, Boca Chica, Texas, USA","Tue Aug 04, 2020 23:57 UTC",Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success
3,3,3,Roscosmos,"Site 200/39, Baikonur Cosmodrome, Kazakhstan","Thu Jul 30, 2020 21:25 UTC",Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65.0,Success
4,4,4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA","Thu Jul 30, 2020 11:50 UTC",Atlas V 541 | Perseverance,StatusActive,145.0,Success
...,...,...,...,...,...,...,...,...,...
4319,4319,4319,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA","Wed Feb 05, 1958 07:33 UTC",Vanguard | Vanguard TV3BU,StatusRetired,NaN,Failure
4320,4320,4320,AMBA,"LC-26A, Cape Canaveral AFS, Florida, USA","Sat Feb 01, 1958 03:48 UTC",Juno I | Explorer 1,StatusRetired,NaN,Success
4321,4321,4321,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA","Fri Dec 06, 1957 16:44 UTC",Vanguard | Vanguard TV3,StatusRetired,NaN,Failure
4322,4322,4322,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan","Sun Nov 03, 1957 02:30 UTC",Sputnik 8K71PS | Sputnik-2,StatusRetired,NaN,Success
4323,4323,4323,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan","Fri Oct 04, 1957 19:28 UTC",Sputnik 8K71PS | Sputnik-1,StatusRetired,NaN,Success

In [4]:
#forma del dataset
df_launches.shape

(4324, 9)

In [5]:
#informacion general
df_launches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4324 entries, 0 to 4323
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0.1    4324 non-null   int64
 1   Unnamed: 0      4324 non-null   int64
 2   Organisation    4324 non-null   object
 3   Location        4324 non-null   object
 4   Date            4324 non-null   object
 5   Detail          4324 non-null   object
 6   Rocket_Status   4324 non-null   object
 7   Price           964 non-null    object
 8   Mission_Status  4324 non-null   object
dtypes: int64(2), object(7)
memory usage: 304.2+ KB

In [6]:
#Veo las primeras 5 filas
df_launches.head()

,Unnamed: 0.1,Unnamed: 0,Organisation,Location,Date,Detail,Rocket_Status,Price,Mission_Status
0,0,0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA","Fri Aug 07, 2020 05:12 UTC",Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50.0,Success
1,1,1,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...","Thu Aug 06, 2020 04:01 UTC",Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success
2,2,2,SpaceX,"Pad A, Boca Chica, Texas, USA","Tue Aug 04, 2020 23:57 UTC",Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success
3,3,3,Roscosmos,"Site 200/39, Baikonur Cosmodrome, Kazakhstan","Thu Jul 30, 2020 21:25 UTC",Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65.0,Success
4,4,4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA","Thu Jul 30, 2020 11:50 UTC",Atlas V 541 | Perseverance,StatusActive,145.0,Success

# 2) Limpieza de datos y Preprocesamiento

In [7]:
#Cuento la cantidad de valores nulos por columna
df_launches.isnull().sum()

Unnamed: 0.1         0
Unnamed: 0           0
Organisation         0
Location             0
Date                 0
Detail               0
Rocket_Status        0
Price             3360
Mission_Status       0
dtype: int64

## Unnamed: 0.1 y Unnamed 0

In [8]:
#Veo si estas columnas me dan informacion valiosa o no 
df_launches["Unnamed: 0"].unique()

array([   0,    1,    2, ..., 4321, 4322, 4323], dtype=int64)

In [9]:
df_launches["Unnamed: 0.1"].unique()

array([   0,    1,    2, ..., 4321, 4322, 4323], dtype=int64)

In [10]:
#Como son solo secuencias con el numero de fila no me dan info . Las elimino
df_launches = df_launches.drop(["Unnamed: 0"],axis =1)
df_launches = df_launches.drop(["Unnamed: 0.1"], axis=1)
df_launches

,Organisation,Location,Date,Detail,Rocket_Status,Price,Mission_Status
0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA","Fri Aug 07, 2020 05:12 UTC",Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50.0,Success
1,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...","Thu Aug 06, 2020 04:01 UTC",Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success
2,SpaceX,"Pad A, Boca Chica, Texas, USA","Tue Aug 04, 2020 23:57 UTC",Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success
3,Roscosmos,"Site 200/39, Baikonur Cosmodrome, Kazakhstan","Thu Jul 30, 2020 21:25 UTC",Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65.0,Success
4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA","Thu Jul 30, 2020 11:50 UTC",Atlas V 541 | Perseverance,StatusActive,145.0,Success
...,...,...,...,...,...,...,...
4319,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA","Wed Feb 05, 1958 07:33 UTC",Vanguard | Vanguard TV3BU,StatusRetired,NaN,Failure
4320,AMBA,"LC-26A, Cape Canaveral AFS, Florida, USA","Sat Feb 01, 1958 03:48 UTC",Juno I | Explorer 1,StatusRetired,NaN,Success
4321,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA","Fri Dec 06, 1957 16:44 UTC",Vanguard | Vanguard TV3,StatusRetired,NaN,Failure
4322,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan","Sun Nov 03, 1957 02:30 UTC",Sputnik 8K71PS | Sputnik-2,StatusRetired,NaN,Success
4323,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan","Fri Oct 04, 1957 19:28 UTC",Sputnik 8K71PS | Sputnik-1,StatusRetired,NaN,Success

## Organisation

In [11]:
df_launches.columns.values

array(['Organisation', 'Location', 'Date', 'Detail', 'Rocket_Status',
       'Price', 'Mission_Status'], dtype=object)

In [12]:
#Cambio el nombre de la columna organisation por organization 
column_names = ['Organization', 'Location', 'Date', 'Detail', 'Rocket_Status',
       'Price', 'Mission_Status']

In [13]:
df_launches.columns = column_names

In [14]:
df_launches.head()

,Organization,Location,Date,Detail,Rocket_Status,Price,Mission_Status
0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA","Fri Aug 07, 2020 05:12 UTC",Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50.0,Success
1,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...","Thu Aug 06, 2020 04:01 UTC",Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success
2,SpaceX,"Pad A, Boca Chica, Texas, USA","Tue Aug 04, 2020 23:57 UTC",Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success
3,Roscosmos,"Site 200/39, Baikonur Cosmodrome, Kazakhstan","Thu Jul 30, 2020 21:25 UTC",Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65.0,Success
4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA","Thu Jul 30, 2020 11:50 UTC",Atlas V 541 | Perseverance,StatusActive,145.0,Success

In [15]:
df_launches['Organization'].unique()

array(['SpaceX', 'CASC', 'Roscosmos', 'ULA', 'JAXA', 'Northrop', 'ExPace',
       'IAI', 'Rocket Lab', 'Virgin Orbit', 'VKS RF', 'MHI', 'IRGC',
       'Arianespace', 'ISA', 'Blue Origin', 'ISRO', 'Exos', 'ILS',
       'i-Space', 'OneSpace', 'Landspace', 'Eurockot', 'Land Launch',
       'CASIC', 'KCST', 'Sandia', 'Kosmotras', 'Khrunichev', 'Sea Launch',
       'KARI', 'ESA', 'NASA', 'Boeing', 'ISAS', 'SRC', 'MITT', 'Lockheed',
       'AEB', 'Starsem', 'RVSN USSR', 'EER', 'General Dynamics',
       'Martin Marietta', 'Yuzhmash', 'Douglas', 'ASI', 'US Air Force',
       'CNES', 'CECLES', 'RAE', 'UT', 'OKB-586', 'AMBA',
       "Arm??e de l'Air", 'US Navy'], dtype=object)

In [16]:
#Cantidad de organizaciones
df_launches['Organization'].nunique()

56

In [17]:
#Top 10 organizaciones que tuvieron mas lanzamientos 
top_10_organizations = df_launches['Organization'].value_counts().head(10)
top_10_organizations

Organization
RVSN USSR           1777
Arianespace          279
CASC                 251
General Dynamics     251
NASA                 203
VKS RF               201
US Air Force         161
ULA                  140
Boeing               136
Martin Marietta      114
Name: count, dtype: int64

## Date

In [18]:
df_launches['Date'][0]

'Fri Aug 07, 2020 05:12 UTC'

In [19]:
#verifico tipo de dato de la fecha
type(df_launches['Date'][0])

str

In [20]:
#cambio los valores de fecha a datetime
import datetime

#defino una funcion para eliminar el texto 'UTC'
def remove_UTC(date):
    new_date = pd.to_datetime(date.replace('UTC',''))
    return new_date
    
#le aplico la funcion a todas las fechas
df_launches['Date'] = df_launches['Date'].apply(remove_UTC)

In [21]:
df_launches

,Organization,Location,Date,Detail,Rocket_Status,Price,Mission_Status
0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA",2020-08-07 05:12:00,Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50.0,Success
1,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...",2020-08-06 04:01:00,Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success
2,SpaceX,"Pad A, Boca Chica, Texas, USA",2020-08-04 23:57:00,Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success
3,Roscosmos,"Site 200/39, Baikonur Cosmodrome, Kazakhstan",2020-07-30 21:25:00,Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65.0,Success
4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA",2020-07-30 11:50:00,Atlas V 541 | Perseverance,StatusActive,145.0,Success
...,...,...,...,...,...,...,...
4319,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",1958-02-05 07:33:00,Vanguard | Vanguard TV3BU,StatusRetired,NaN,Failure
4320,AMBA,"LC-26A, Cape Canaveral AFS, Florida, USA",1958-02-01 03:48:00,Juno I | Explorer 1,StatusRetired,NaN,Success
4321,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",1957-12-06 16:44:00,Vanguard | Vanguard TV3,StatusRetired,NaN,Failure
4322,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan",1957-11-03 02:30:00,Sputnik 8K71PS | Sputnik-2,StatusRetired,NaN,Success
4323,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan",1957-10-04 19:28:00,Sputnik 8K71PS | Sputnik-1,StatusRetired,NaN,Success

In [22]:
df_launches['Date'][0]

Timestamp('2020-08-07 05:12:00')

In [23]:
#ordeno los valores por fecha 
df_launches['Date'].sort_values()

4323   1957-10-04 19:28:00
4322   1957-11-03 02:30:00
4321   1957-12-06 16:44:00
4320   1958-02-01 03:48:00
4319   1958-02-05 07:33:00
               ...
4      2020-07-30 11:50:00
3      2020-07-30 21:25:00
2      2020-08-04 23:57:00
1      2020-08-06 04:01:00
0      2020-08-07 05:12:00
Name: Date, Length: 4324, dtype: datetime64[ns]

Lanzamientos por aÃ±o

In [24]:
#Quiero ver cuantos lanzamientos ocurrieron por aÃ±o 

# Extraer el aÃ±o de cada fecha
df_launches['year'] = df_launches['Date'].dt.year

#ordenar lanzamientos por aÃ±o
launches_per_year = df_launches['year'].value_counts().sort_index()

In [25]:
launches_per_year

year
1957      3
1958     28
1959     20
1960     39
1961     52
       ...
2016     90
2017     92
2018    117
2019    109
2020     63
Name: count, Length: 64, dtype: int64

In [26]:
#aÃ±o con menos lanzamientos
launches_per_year.idxmin()

1957

In [27]:
#cantidad 
launches_per_year.min()

3

In [28]:
#aÃ±o con mas lanzamientos
launches_per_year.idxmax()

1971

In [29]:
#cantidad 
launches_per_year.max()

119

Que organizaciÃ³n hizo mas lanzamientos en un aÃ±o determinado (ej:2018)

In [30]:
#primero extraigo el aÃ±o de cada fecha
df_launches['year'] = df_launches['Date'].dt.year

#agrupo por aÃ±o y organizacion 
launches_per_org_year = df_launches.groupby(['year','Organization']).size().unstack(fill_value=0) #rellena los valores faltantes con 0

#OrganizaciÃ³n con mÃ¡s lanzamientos cada aÃ±o
most_launches_per_year = launches_per_org_year.idxmax(axis=1)
most_launches_counts = launches_per_org_year.max(axis=1)

#combino los resultados en un dataframe
results = pd.DataFrame({
    'year': most_launches_per_year.index, 
    'organization': most_launches_per_year.values,
    'launches': most_launches_counts.values
})

In [31]:
#organizacion con mas lanzamientos por aÃ±o
results

    year  organization  launches
0   1957     RVSN USSR         2
1   1958       US Navy        12
2   1959  US Air Force        10
3   1960  US Air Force        21
4   1961  US Air Force        23
..   ...           ...       ...
59  2016          CASC        22
60  2017        SpaceX        18
61  2018          CASC        37
62  2019          CASC        27
63  2020          CASC        19

[64 rows x 3 columns]

In [32]:
#filtro sÃ³lo el aÃ±o 2018

result_2018 = results[results['year']==2018]
result_2018

    year organization  launches
61  2018         CASC        37

## Rocket Status

In [33]:
df_launches

,Organization,Location,Date,Detail,Rocket_Status,Price,Mission_Status,year
0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA",2020-08-07 05:12:00,Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50.0,Success,2020
1,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...",2020-08-06 04:01:00,Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success,2020
2,SpaceX,"Pad A, Boca Chica, Texas, USA",2020-08-04 23:57:00,Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success,2020
3,Roscosmos,"Site 200/39, Baikonur Cosmodrome, Kazakhstan",2020-07-30 21:25:00,Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65.0,Success,2020
4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA",2020-07-30 11:50:00,Atlas V 541 | Perseverance,StatusActive,145.0,Success,2020
...,...,...,...,...,...,...,...,...
4319,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",1958-02-05 07:33:00,Vanguard | Vanguard TV3BU,StatusRetired,NaN,Failure,1958
4320,AMBA,"LC-26A, Cape Canaveral AFS, Florida, USA",1958-02-01 03:48:00,Juno I | Explorer 1,StatusRetired,NaN,Success,1958
4321,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",1957-12-06 16:44:00,Vanguard | Vanguard TV3,StatusRetired,NaN,Failure,1957
4322,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan",1957-11-03 02:30:00,Sputnik 8K71PS | Sputnik-2,StatusRetired,NaN,Success,1957
4323,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan",1957-10-04 19:28:00,Sputnik 8K71PS | Sputnik-1,StatusRetired,NaN,Success,1957

In [34]:
#veo los tipos de status que hay
df_launches['Rocket_Status'].unique()

array(['StatusActive', 'StatusRetired'], dtype=object)

In [35]:
df_launches['Rocket_Status'].value_counts()

Rocket_Status
StatusRetired    3534
StatusActive      790
Name: count, dtype: int64

## Mission Status

In [36]:
#veo los tipos distintos que hay 
df_launches['Mission_Status'].unique()

array(['Success', 'Failure', 'Prelaunch Failure', 'Partial Failure'],
      dtype=object)

In [37]:
df_launches['Mission_Status'].value_counts()

Mission_Status
Success              3879
Failure               339
Partial Failure       102
Prelaunch Failure       4
Name: count, dtype: int64

## Checkpoint

In [38]:
#guardo una copia del progreso hasta el momento
df_launches_2 = df_launches.copy()
df_launches_2

,Organization,Location,Date,Detail,Rocket_Status,Price,Mission_Status,year
0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA",2020-08-07 05:12:00,Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50.0,Success,2020
1,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...",2020-08-06 04:01:00,Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success,2020
2,SpaceX,"Pad A, Boca Chica, Texas, USA",2020-08-04 23:57:00,Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success,2020
3,Roscosmos,"Site 200/39, Baikonur Cosmodrome, Kazakhstan",2020-07-30 21:25:00,Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65.0,Success,2020
4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA",2020-07-30 11:50:00,Atlas V 541 | Perseverance,StatusActive,145.0,Success,2020
...,...,...,...,...,...,...,...,...
4319,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",1958-02-05 07:33:00,Vanguard | Vanguard TV3BU,StatusRetired,NaN,Failure,1958
4320,AMBA,"LC-26A, Cape Canaveral AFS, Florida, USA",1958-02-01 03:48:00,Juno I | Explorer 1,StatusRetired,NaN,Success,1958
4321,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",1957-12-06 16:44:00,Vanguard | Vanguard TV3,StatusRetired,NaN,Failure,1957
4322,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan",1957-11-03 02:30:00,Sputnik 8K71PS | Sputnik-2,StatusRetired,NaN,Success,1957
4323,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan",1957-10-04 19:28:00,Sputnik 8K71PS | Sputnik-1,StatusRetired,NaN,Success,1957

## Price

In [41]:
#En esta columna tengo muchos valores NaN 
df_launches_2['Price'].isnull().sum()

3360

In [49]:
type(df_launches_2['Price'][0])

str

In [51]:
#veo los distintos tipos de price que hay
df_launches_2['Price'].unique()
#hay un valor de 5,000.0 debo eliminar esa coma

array(['50.0', '29.75', nan, '65.0', '145.0', '64.68', '48.5', '90.0',
       '46.0', '28.3', '29.15', '7.5', '30.8', '5.3', '12.0', '112.5',
       '120.0', '153.0', '200.0', '85.0', '115.0', '41.8', '21.0', '31.0',
       '40.0', '164.0', '62.0', '37.0', '350.0', '39.0', '47.0', '35.0',
       '69.7', '109.0', '45.0', '123.0', '130.0', '25.0', '56.5', '15.0',
       '29.0', '80.0', '140.0', '55.0', '59.5', '450.0', '7.0', '20.14',
       '133.0', '190.0', '135.0', '20.0', '136.6', '5,000.0', '1,160.0',
       '59.0', '63.23'], dtype=object)

In [57]:
# Remover caracteres no numÃ©ricos y convertir a float
df_launches_2['Price'] = df_launches_2['Price'].replace('[\$,]', '', regex=True).astype(float)

In [59]:
df_launches_2['Price'].unique()

array([  50.  ,   29.75,     nan,   65.  ,  145.  ,   64.68,   48.5 ,
         90.  ,   46.  ,   28.3 ,   29.15,    7.5 ,   30.8 ,    5.3 ,
         12.  ,  112.5 ,  120.  ,  153.  ,  200.  ,   85.  ,  115.  ,
         41.8 ,   21.  ,   31.  ,   40.  ,  164.  ,   62.  ,   37.  ,
        350.  ,   39.  ,   47.  ,   35.  ,   69.7 ,  109.  ,   45.  ,
        123.  ,  130.  ,   25.  ,   56.5 ,   15.  ,   29.  ,   80.  ,
        140.  ,   55.  ,   59.5 ,  450.  ,    7.  ,   20.14,  133.  ,
        190.  ,  135.  ,   20.  ,  136.6 , 5000.  , 1160.  ,   59.  ,
         63.23])

In [60]:
#Puedo reemplazar los valores NaN por la media o promedio 
mean_value = df_launches_2['Price'].mean()
mean_value

153.7921991701245

In [61]:
#reemplazo
df_launches_2['Price'].fillna(mean_value, inplace=True)

C:\Users\franc\AppData\Local\Temp\ipykernel_14284\69188143.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_launches_2['Price'].fillna(mean_value, inplace=True)

In [63]:
#veriifico
df_launches_2['Price'].unique()

array([  50.        ,   29.75      ,  153.79219917,   65.        ,
        145.        ,   64.68      ,   48.5       ,   90.        ,
         46.        ,   28.3       ,   29.15      ,    7.5       ,
         30.8       ,    5.3       ,   12.        ,  112.5       ,
        120.        ,  153.        ,  200.        ,   85.        ,
        115.        ,   41.8       ,   21.        ,   31.        ,
         40.        ,  164.        ,   62.        ,   37.        ,
        350.        ,   39.        ,   47.        ,   35.        ,
         69.7       ,  109.        ,   45.        ,  123.        ,
        130.        ,   25.        ,   56.5       ,   15.        ,
         29.        ,   80.        ,  140.        ,   55.        ,
         59.5       ,  450.        ,    7.        ,   20.14      ,
        133.        ,  190.        ,  135.        ,   20.        ,
        136.6       , 5000.        , 1160.        ,   59.        ,
         63.23      ])

In [64]:
df_launches_2['Price'].isnull().sum()

0

In [65]:
#Valor maximo del precio
max_price = df_launches_2['Price'].max()
max_price

5000.0

In [66]:
#Valor minimo del precio
min_price = df_launches_2['Price'].min()
min_price

5.3

In [67]:
df_launches_2

,Organization,Location,Date,Detail,Rocket_Status,Price,Mission_Status,year
0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA",2020-08-07 05:12:00,Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50.000000,Success,2020
1,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...",2020-08-06 04:01:00,Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.750000,Success,2020
2,SpaceX,"Pad A, Boca Chica, Texas, USA",2020-08-04 23:57:00,Starship Prototype | 150 Meter Hop,StatusActive,153.792199,Success,2020
3,Roscosmos,"Site 200/39, Baikonur Cosmodrome, Kazakhstan",2020-07-30 21:25:00,Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65.000000,Success,2020
4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA",2020-07-30 11:50:00,Atlas V 541 | Perseverance,StatusActive,145.000000,Success,2020
...,...,...,...,...,...,...,...,...
4319,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",1958-02-05 07:33:00,Vanguard | Vanguard TV3BU,StatusRetired,153.792199,Failure,1958
4320,AMBA,"LC-26A, Cape Canaveral AFS, Florida, USA",1958-02-01 03:48:00,Juno I | Explorer 1,StatusRetired,153.792199,Success,1958
4321,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",1957-12-06 16:44:00,Vanguard | Vanguard TV3,StatusRetired,153.792199,Failure,1957
4322,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan",1957-11-03 02:30:00,Sputnik 8K71PS | Sputnik-2,StatusRetired,153.792199,Success,1957
4323,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan",1957-10-04 19:28:00,Sputnik 8K71PS | Sputnik-1,StatusRetired,153.792199,Success,1957

In [68]:
#Obtengo el precio promedio por aÃ±o
avg_price_per_year = df_launches_2.groupby(by='year')['Price'].mean().reset_index(name='avg_price_per_year')

In [69]:
avg_price_per_year

    year  avg_price_per_year
0   1957          153.792199
1   1958          153.792199
2   1959          153.792199
3   1960          153.792199
4   1961          153.792199
..   ...                 ...
59  2016          100.931858
60  2017           93.315295
61  2018           86.820118
62  2019           90.715864
63  2020           73.611495

[64 rows x 2 columns]

## Checkpoint final

In [70]:
df_launches_cleaned = df_launches_2.copy()

In [71]:
df_launches_cleaned

,Organization,Location,Date,Detail,Rocket_Status,Price,Mission_Status,year
0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA",2020-08-07 05:12:00,Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50.000000,Success,2020
1,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...",2020-08-06 04:01:00,Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.750000,Success,2020
2,SpaceX,"Pad A, Boca Chica, Texas, USA",2020-08-04 23:57:00,Starship Prototype | 150 Meter Hop,StatusActive,153.792199,Success,2020
3,Roscosmos,"Site 200/39, Baikonur Cosmodrome, Kazakhstan",2020-07-30 21:25:00,Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65.000000,Success,2020
4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA",2020-07-30 11:50:00,Atlas V 541 | Perseverance,StatusActive,145.000000,Success,2020
...,...,...,...,...,...,...,...,...
4319,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",1958-02-05 07:33:00,Vanguard | Vanguard TV3BU,StatusRetired,153.792199,Failure,1958
4320,AMBA,"LC-26A, Cape Canaveral AFS, Florida, USA",1958-02-01 03:48:00,Juno I | Explorer 1,StatusRetired,153.792199,Success,1958
4321,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",1957-12-06 16:44:00,Vanguard | Vanguard TV3,StatusRetired,153.792199,Failure,1957
4322,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan",1957-11-03 02:30:00,Sputnik 8K71PS | Sputnik-2,StatusRetired,153.792199,Success,1957
4323,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan",1957-10-04 19:28:00,Sputnik 8K71PS | Sputnik-1,StatusRetired,153.792199,Success,1957